@font-face {
  font-family: "Yekan Bakh";
  src: url(./YekanBakh-Heavy.woff);
}

::selection {
  background-color: #ffffff;
  color: #000000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
  -webkit-user-drag: none;
}

body {
  font-family: "Yekan Bakh", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button,
input {
  font-family: "Yekan Bakh", sans-serif;
}

.container {
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
  padding: 1rem 0;
}
